<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body background="../img/fundo2.jpeg">
    <div class="conteudo">
        <div class="cabecalho">
            <img src="../static/img/logo.png" alt="logo.png">
            <ul>
                <li> <a href="home">Home</li></a>
                <li> <a href="quemSomos">Quem Somos</li></a>
                <li> <a href="contato">Contato</li></a>
            </ul>
        </div>
        <h3>Entre em contato</h3>  
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, tempora expedita sapiente illum quidem, aut fugit perferendis rem adipisci modi facere animi doloribus ex voluptate veritatis facilis, earum similique tenetur!</p>
        <hr>
        <div class="form">
            <form action="">
                <label for="email">Email:</label><br>
                <input type="text" name="email" id="email">
                <br>
                <label for="assunto">Assunto:</label><br>
                <input type="text" name="assunto" id="assunto"><br>
                <label for="desc">Descrição:</label><br>
                <textarea name="desc" id="desc" cols="30" rows="5"></textarea><br>
                <input type="submit" value="Enviar"></input>
            </form>
            
        </div>
        <br><br><br>
        <h4>Todos os direitos reservados</h4>
    </div>
</body>
</html>