<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='style.css')}}">
</head>
<body background="../static/img/fundo.jpeg">
    
    <div class="conteudo">
        <div class="cabecalho">
            <img src="../static/img/logo.png" alt="logo.png">
            <ul>
                <li> <a href="home">Home</li></a>
                <li> <a href="quemSomos">Quem Somos</li></a>
                <li> <a href="contato">Contato</li></a>

            </ul>
            
        </div>
        
        <img class="img" src="../static/img/tecnologia.jpeg" alt="imagem de capa">
        <h1>Sobre a universidade</h1>
        <p>
        Lipsum dolor sit amet, consectetur adipisicing elit. Sint exercitationem, ducimus provident placeat <br> sit maxime ullam tempore accusamus reprehenderit dolores libero incidunt eius, totam quos. At aut <br> id corrupti quibusdam.Lipsum dolor sit amet, consectetur adipisicing elit. Sint exercitationem, <br> ducimus provident placeat sit maxime ullam tempore accusamus reprehenderit dolores libero <br> incidunt eius, totam quos. At aut id corrupti quibusdam.Lipsum dolor sit amet, consectetur adipisicing <br> elit. Sint exercitationem, ducimus provident placeat sit maxime ullam tempore accusamus reprehenderit <br> dolores libero incidunt eius, totam quos.
        </p>
        <h4>Todos os direitos reservados</h4>

    </div>
</body>
</html>